<div class="row">
  <div class="col-md-6">
    <h3>Post a Job</h3>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-2"><input class="form-control" formControlName="type" placeholder="Type (e.g., Cleaning)"></div>
      <div class="mb-2"><textarea class="form-control" formControlName="description" placeholder="Description"></textarea></div>
      <div class="mb-2"><input class="form-control" formControlName="location" placeholder="Location"></div>
      <div class="mb-2"><input type="date" class="form-control" formControlName="date"></div>
      <div class="mb-2"><input type="time" class="form-control" formControlName="time"></div>
      <div class="mb-2"><input type="number" class="form-control" formControlName="pay" placeholder="Pay (INR)"></div>
      <button class="btn btn-success" [disabled]="form.invalid">Post Job</button>
    </form>
  </div>
  <div class="col-md-6">
    <h3>Your Posted Jobs</h3>
    <app-job-list></app-job-list>
  </div>
</div>
