<div class="row">
  <div class="col-md-6">
    <h3>Your Profile</h3>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mb-2">
        <label class="form-label">Display name</label>
        <input class="form-control" formControlName="displayName">
      </div>
      <div class="mb-2">
        <label class="form-label">Mobile</label>
        <input class="form-control" formControlName="mobile">
      </div>
      <button class="btn btn-primary" [disabled]="form.invalid">Save</button>
    </form>
  </div>
</div>
